<div class="container">
      <section id="explanation" class="width-two-thirds">

          <h3>About this Site</h3>
          <p>
            This data provides a window into how people are interacting with the States of Jersey online. The data comes from a unified Google Analytics account for States of Jersey. This program helps departments understand how people find, access, and use States of Jersey services online.
          </p>

          <p>
            This open source project is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="https://github.com/StatesOfJersey/webanalytics.gov.je" class="external-link">code for this website</a>. This project is a fork of <a href="https://github.com/18F/analytics.usa.gov" class="external-link">Analytics.usa.gov</a> by <a href="https://18f.gsa.gov/" class="external-link">18F</a> and their <a href="https://github.com/18F/analytics-reporter" class="external-link">code behind the data collection</a>, both of which are on GitHub.
          </p>

          <p>This project was a collaborative effort between <a href="https://twitter.com/marcusferbrache" class="external-link">Marcus Ferbrache</a> (<a href="https://www.gov.je/pages/contacts.aspx?contactId=446">States of Jersey Web Team</a>) and <a href="https://twitter.com/marcusferbrache" class="external-link">Robbie Andrews</a> (<a href="http://www.bearpig.com">Bearpig</a>) on behalf of <a href="http://www.techtribes.je" class="external-link">TechTribes</a>.

          <p>
            We plan to expand the data made available here. If you have any suggestions, or spot any issues or bugs, please <a href="https://github.com/StatesOfJersey/webanalytics.gov.je/issues" class="external-link">open an issue on GitHub</a> or contact the <a href="mailto:webteam@gov.je" class="external-link">States of Jersey Web Team</a>.
          </p>
      </section>
      <section class="width-one-third">
        <h3>Download the data</h3>
        <p>You can <a href="{{ site.url }}{% if page.slug %}/{{ page.slug }}{% endif %}/data/">download the data here.</a> Available in JSON and CSV format.</p>
      </section>
</div>
